.header-actions, .btn {
  margin: 25px;
}

.categories-container-properties {
    align-self: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 50px;
    justify-self: center;
    margin: 10px;
}

.categories-container-properties, .buttons-properties, .buttons-post-properties {
    flex-direction: row;
}

.category-properties {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid gray;
}

.category-properties, .edit-button-properties, .delete-button-properties, .categories-container-properties, .button-save-properties, .button-cancel-properties {
    width: fit-content;
    height: fit-content;
}

.category-container-properties,
.categories-container-properties {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.buttons-properties,
.category-container-properties,
.buttons-post-properties {
    display: flex;
}

.buttons-properties, .buttons-post-properties {
    gap: 10px;
    margin-top: 10px;
}

.edit-button-properties,
.delete-button-properties {
    cursor: pointer;
}

.edit-button-properties {
    border: 1px solid green;
    color: green;
}

.edit-button-properties, .delete-button-properties:hover {
    background-color: white;
}

.delete-button-properties, .edit-button-properties{
    padding: 10px 15px;
    border-radius: 15px;
}

.delete-button-properties {
    border: none;
    background-color: red;
    transition: all 0.5s ease-in-out;
}

.delete-button-properties:hover {
    color: red;
    border: 1px solid red;
}

.btn, .delete-button-properties{
    color: white;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    transition: all 0.2s ease;
    background: #007bff;
    font-size: 20px;
}

.input-properties{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 10px
    ;
}

.button-save-properties, .button-cancel-properties{
    padding: 10px 15px;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.button-save-properties{
    background-color: green;
}

.button-cancel-properties{
    background-color: #dc3545;
}